In [1]:
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline

In [4]:
import pickle

In [5]:

out_overall = pickle.load(open('../data/input/all_regions.pkl','r'))

In [17]:
out = {}
for region in ['Austin','SanDiego','Boulder']:
    out[region] = {}
    for appliance in ["dw",'hvac','fridge','wm','mw','ec','wh','oven']:
        out[region][appliance] = {}
        for month in range(1,13):
            out[region][appliance][month] = len(out_overall[region]['%s_%d' %(appliance, month)].dropna())
        out[region][appliance] = pd.Series(out[region][appliance]).mean()

In [19]:
pd.DataFrame(out)

            Austin    Boulder   SanDiego
dw      271.250000  31.416667  19.166667
ec       76.333333   2.000000   0.000000
fridge  303.583333  30.166667  18.083333
hvac    379.166667  32.333333  19.166667
mw      209.833333  13.583333  18.166667
oven    121.166667  16.416667  14.083333
wh       70.750000   1.250000   0.000000
wm      216.750000  25.083333   3.500000