In [83]:
wm_fw = {'aggregate_1': 0.033624279321068165,
 'aggregate_10': 0.019778035812821653,
 'aggregate_11': 0.015934077647876587,
 'aggregate_12': 0.025189808829097184,
 'aggregate_2': 0.024644849903783968,
 'aggregate_3': 0.031798697555238634,
 'aggregate_4': 0.032011828605370586,
 'aggregate_5': 0.02995528776485348,
 'aggregate_6': 0.056123207049499441,
 'aggregate_7': 0.22862122490843037,
 'aggregate_8': 0.055214974024072216,
 'aggregate_9': 0.073880012751423169,
 'area': 0.028239409774982197,
 'difference_ratio_min_max': 0.018134751267069784,
 'house_num_rooms': 0.022138254919951462,
 'kurtosis': 0.018457866138121292,
 'num_occupants': 0.0089153601644248858,
 'p_25': 0.018201680495129855,
 'p_50': 0.021691809380849931,
 'p_75': 0.054178042595339197,
 'ratio_min_max': 0.016442643589312762,
 'skew': 0.029005353992157302,
 'variance': 0.1378185435091259}

In [192]:
import numpy as np
import pickle
from degree_days import  dd
from regional_average_contribution import  contribution
import pandas as pd
out_overall = pickle.load(open('../data/input/all_regions.pkl','r'))

import sys
import os

train_region, test_region, test_home, appliance, transform, K = "Austin","SanDiego", 5938, "hvac","DD",3
test_home = int(test_home)
K = int(K)

train_df = out_overall[train_region]
test_df = out_overall[test_region]

train_dd = pd.DataFrame(dd[train_region])
test_dd = pd.DataFrame(dd[test_region])

median_aggregate = {}
for region in [train_region, test_region]:
    median_aggregate[region] = {}
    for month in range(1, 13):
        median_aggregate[region][month] = out_overall[region]['aggregate_'+str(month)].median()

median_aggregate_df = pd.DataFrame(median_aggregate)


from itertools import combinations

start_month, end_month = 1,12
agg_features = np.hstack([['aggregate_'+str(month) for month in range(start_month, end_month+1)],
                         'ratio_min_max','difference_ratio_min_max','p_25','p_50','p_75','skew','kurtosis'])
md_features = ['area','house_num_rooms']
features = {'md_agg':np.hstack([
            agg_features,
            md_features
            ]).tolist()}

f_all = features['md_agg']

# Find not null set of common features
def find_com_features_train(df, home_1, home_2, featureset_max):
    f_1 = df.ix[home_1][featureset_max].dropna()
    f_2 = df.ix[home_2][featureset_max].dropna()
    com_f =  np.intersect1d(f_1.index, f_2.index)
    return com_f


def find_distance_train_test_quick(df_train, home_1, home_2, df_test, home_test, featureset_train, featureset_max):
    f_test = df_test.ix[home_test][featureset_max].dropna()
    com_f =  np.intersect1d(f_test.index, featureset_train)
    if len(com_f):
        is_common = True
    else:
        is_common = False
        return is_common, None
    
    

    if len(com_f):
        a = (df_train.ix[home_1][com_f]- df_test.ix[home_test][com_f]).abs().sum().sum()
        b = (df_train.ix[home_2][com_f]- df_test.ix[home_test][com_f]).abs().sum().sum()
        
        if a<=b:
            order = [home_1, home_2]
        else:
            order = [home_2, home_1]
        return is_common, {'order':order,
                    'num_f':len(com_f),
                    'dist_a':a,
                    'dist_b':b,
                          'f':com_f}


def find_distance_train_test_dot(df_train, home_1, home_2, df_test, home_test, featureset_train, featureset_max):
    f_test = df_test.ix[home_test][featureset_max].dropna()
    com_f =  np.intersect1d(f_test.index, featureset_train)
    if len(com_f):
        is_common = True
    else:
        is_common = False
        return is_common, None

    if len(com_f):
        fw = pd.Series({f:wm_fw[f] for f in com_f})
        a = np.linalg.norm((df_train.ix[home_1][com_f]- df_test.ix[home_test][com_f]).dot(fw))
        b = np.linalg.norm((df_train.ix[home_2][com_f]- df_test.ix[home_test][com_f]).dot(fw))
        if a<=b:
            order = [home_1, home_2]
        else:
            order = [home_2, home_1]
        return is_common, {'order':order,
                    'num_f':len(com_f),
                    'dist_a':a,
                    'dist_b':b,
                          'f':com_f}
    
def find_distance_train_test(df_train, home_1, home_2, df_test, home_test, featureset_train, featureset_max):
    f_test = df_test.ix[home_test][featureset_max].dropna()
    com_f =  np.intersect1d(f_test.index, featureset_train)
    if len(com_f):
        is_common = True
    else:
        is_common = False
        return is_common, None

    if len(com_f):
        fw = pd.Series({f:wm_fw[f] for f in com_f})
        a = np.linalg.norm((df_train.ix[home_1][com_f]- df_test.ix[home_test][com_f]))
        b = np.linalg.norm((df_train.ix[home_2][com_f]- df_test.ix[home_test][com_f]))
        if a<=b:
            order = [home_1, home_2]
        else:
            order = [home_2, home_1]
        return is_common, {'order':order,
                    'num_f':len(com_f),
                    'dist_a':a,
                    'dist_b':b,
                          'f':com_f}

import pandas as pd

def scale_0_1(ser, minimum=None, maximum=None):
    if minimum is not None:
        pass
    else:
        minimum = ser.min()
        maximum = ser.max()
    return (ser-minimum).div(maximum-minimum)

def normalise(df):
    new_df = df.copy()
    max_aggregate = df[["aggregate_%d" % i for i in range(1, 13)]].max().max()
    min_aggregate = df[["aggregate_%d" % i for i in range(1, 13)]].min().min()
    new_df[["aggregate_%d" % i for i in range(1, 13)]] = scale_0_1(df[["aggregate_%d" % i for i in range(1, 13)]], min_aggregate, max_aggregate)
    for col in ['area','num_occupants','house_num_rooms','ratio_min_max',
                'skew','kurtosis','variance','difference_ratio_min_max','p_25',
               'p_50','p_75']:
        new_df[col] = scale_0_1(df[col])
    return new_df

if transform in ["None","None-percentage"]:
    pass
elif transform in ["DD","DD-percentage"]:
    train_df_copy = train_df.copy()
    for month in range(1, 13):
        # index on 0, 11
        train_dd_month = train_dd.ix[month-1]['Total']
        test_dd_month = test_dd.ix[month-1]['Total']
        train_df['hvac_%d' % month] = train_df_copy['hvac_%d' % month] * test_dd_month*1. / train_dd_month

        #New aggregate will be removing old HVAC and adding new HVAC!
        train_df['aggregate_%d' %month] = train_df_copy['aggregate_%d' %month] - train_df_copy['hvac_%d' % month] + train_df['hvac_%d' % month]
elif transform in ["median-aggregate","median-aggregate-percentage"]:
    train_df_copy = train_df.copy()
    for month in range(1,13):
        median_month = median_aggregate_df.ix[month]
        cols_to_transform = [x for x in train_df.columns if "_"+str(month) in x]
        train_df[cols_to_transform] = train_df_copy[cols_to_transform] * median_month[test_region] / median_month[train_region]

elif transform in ["regional","regional-percentage"]:
    train_df_copy = train_df.copy()
    for month in range(1, 13):

        # index on 0, 11
        if month in range(4,11):
            mode='Cooling'
        else:
            mode='Heating'

        train_dd_month = contribution[train_region][mode]['hvac']
        test_dd_month = contribution[test_region][mode]['hvac']

        train_df['hvac_%d' % month] = train_df_copy['hvac_%d' % month] * test_dd_month*1. / train_dd_month

        #New aggregate will be removing old HVAC and adding new HVAC!
        train_df['aggregate_%d' %month] = train_df_copy['aggregate_%d' %month] - train_df_copy['hvac_%d' % month] + train_df['hvac_%d' % month]



elif transform=="DD-fridge":
    train_df_copy = train_df.copy()
    fridge_model = pickle.load(open('../data/input/SanDiego_fridge_dd_coef.pkl','r'))
    for month in range(1, 13):
        # index on 0, 11

        train_cdd_month = train_dd.ix[month-1]['Cooling']
        test_cdd_month = test_dd.ix[month-1]['Cooling']
        for fridge_home, fridge_home_model in fridge_model.iteritems():
            train_df.loc[fridge_home,'fridge_%d' % month] = fridge_home_model['baseline']+fridge_home_model['cdd']*test_cdd_month
            train_df.loc[fridge_home,'aggregate_%d' %month] = train_df_copy.ix[fridge_home]['aggregate_%d' %month] - train_df_copy.ix[fridge_home]['fridge_%d' % month] + train_df.ix[fridge_home]['fridge_%d' % month]

overall_df = pd.concat([train_df, test_df])

normalised_df = normalise(overall_df)

train_normalised_df = normalised_df.ix[train_df.index]
test_normalised_df = normalised_df.ix[test_df.index].drop_duplicates()


def solve_ilp(inequalities, time_limit=50):
    from collections import defaultdict
    import pandas as pd
    co = defaultdict(int)
    for ineq in inequalities:
        lt = ineq[0]
        gt = ineq[1]
        co[lt]-= 1
        co[gt]+= 1
    co_ser = pd.Series(co)
    co_ser.sort()

    return co_ser.index.values.tolist()

In [193]:
month_compute=1
candidate_homes = train_normalised_df['%s_%d' %(appliance, month_compute)].dropna().index.values

In [194]:
len(candidate_homes)

417

In [195]:
candidate_homes

array([  22,   26,   59,   77,   86,   93,   94,  101,  114,  115,  121,
        130,  135,  160,  187,  222,  267,  297,  347,  364,  370,  410,
        434,  436,  457,  484,  491,  499,  503,  508,  545,  580,  624,
        645,  661,  668,  739,  744,  772,  781,  796,  871,  878,  898,
        936,  946,  954,  974,  980,  994, 1037, 1069, 1086, 1105, 1169,
       1185, 1192, 1202, 1283, 1310, 1314, 1331, 1334, 1403, 1415, 1463,
       1479, 1500, 1507, 1551, 1586, 1589, 1617, 1632, 1642, 1681, 1697,
       1700, 1714, 1718, 1790, 1791, 1796, 1800, 1854, 1889, 1947, 1953,
       1994, 2004, 2018, 2034, 2094, 2129, 2156, 2158, 2171, 2199, 2233,
       2242, 2335, 2361, 2365, 2366, 2378, 2401, 2458, 2461, 2470, 2472,
       2510, 2520, 2532, 2557, 2575, 2638, 2641, 2751, 2755, 2769, 2787,
       2814, 2818, 2829, 2845, 2859, 2864, 2907, 2945, 2953, 2965, 2974,
       2992, 3009, 3036, 3039, 3044, 3134, 3192, 3268, 3273, 3299, 3310,
       3367, 3411, 3413, 3425, 3443, 3456, 3482, 3484, 3500, 3506, 3510,
       3527, 3531, 3538, 3577, 3631, 3635, 3649, 3652, 3678, 3719, 3721,
       3723, 3736, 3778, 3829, 3831, 3849, 3873, 3893, 3916, 3918, 3935,
       3967, 4022, 4042, 4053, 4135, 4154, 4193, 4213, 4220, 4296, 4297,
       4298, 4302, 4336, 4342, 4352, 4357, 4373, 4375, 4416, 4447, 4473,
       4505, 4514, 4526, 4575, 4641, 4660, 4732, 4767, 4776, 4800, 4856,
       4864, 4874, 4922, 4946, 4957, 4998, 5026, 5060, 5109, 5129, 5209,
       5218, 5275, 5317, 5356, 5357, 5371, 5395, 5403, 5539, 5545, 5552,
       5568, 5673, 5677, 5718, 5746, 5778, 5785, 5786, 5809, 5810, 5814,
       5874, 5889, 5921, 5949, 5959, 5972, 6061, 6063, 6072, 6078, 6101,
       6108, 6139, 6165, 6286, 6324, 6334, 6348, 6412, 6418, 6423, 6460,
       6498, 6500, 6614, 6636, 6673, 6688, 6691, 6692, 6730, 6799, 6836,
       6871, 6910, 6911, 6941, 6990, 7016, 7017, 7024, 7030, 7036, 7057,
       7117, 7122, 7276, 7287, 7319, 7390, 7429, 7436, 7491, 7504, 7510,
       7512, 7527, 7531, 7536, 7549, 7560, 7627, 7638, 7641, 7680, 7703,
       7719, 7731, 7764, 7769, 7787, 7788, 7793, 7794, 7800, 7850, 7863,
       7866, 7875, 7900, 7901, 7940, 7951, 7965, 7973, 7984, 7989, 8034,
       8046, 8079, 8084, 8086, 8092, 8122, 8142, 8156, 8163, 8183, 8188,
       8197, 8236, 8243, 8282, 8292, 8317, 8386, 8419, 8467, 8565, 8589,
       8600, 8645, 8669, 8741, 8767, 8807, 8829, 8890, 8956, 8967, 8995,
       9001, 9019, 9052, 9121, 9134, 9141, 9160, 9182, 9195, 9201, 9215,
       9248, 9251, 9278, 9295, 9340, 9343, 9356, 9484, 9498, 9578, 9609,
       9613, 9624, 9647, 9654, 9674, 9701, 9729, 9737, 9745, 9766, 9771,
       9773, 9803, 9875, 9912, 9915, 9919, 9922, 9926, 9929, 9931, 9932,
       9933, 9934, 9935, 9937, 9938, 9939, 9942, 9971, 9981, 9982])

In [196]:
candidate_homes = np.array(np.setdiff1d(candidate_homes, test_home))

In [197]:
len(candidate_homes)

417

In [198]:
a,b= next(combinations(candidate_homes, 2))
a,b
com_features = find_com_features_train(train_df, a, b, f_all)

In [199]:
com_features

array(['aggregate_1', 'aggregate_2', 'aggregate_3', 'aggregate_4',
       'aggregate_5', 'aggregate_6'], dtype=object)

In [200]:
preds = {}
gts = {}
for month_compute in range(1, 13):

    from collections import Counter, defaultdict
    num_features_all = {}
    ineq_dict = {}

    num_features_all[appliance] = {}
    ineq_dict[appliance] = {}

    #num_features_all[appliance][month_compute] = {}
    ineq_dict[appliance][month_compute] = {}

    candidate_homes = train_normalised_df['%s_%d' %(appliance, month_compute)].dropna().index.values[:30]



    #num_features_all[appliance][month_compute][test_home] = defaultdict(int)
    from collections import defaultdict
    import pandas as pd
    co = defaultdict(int)
    store_path = '../../../output/output/ineq_cross/%s_%s_%s_%s_%d_%d_%d.pkl' %(train_region,
                                                                        test_region,
                                                                        transform,
                                                                        appliance,
                                                                        month_compute,
                                                                        test_home, K)
    print store_path
    if os.path.exists(store_path):
        print "already exists"
        


    if not np.isnan(test_normalised_df.ix[test_home]['%s_%d' %(appliance, month_compute)]):
        # We need to predict this value!
        # Find candidate set, train homes which have not null for this month
        # Now find features on pairs of homes in candidate homes
        for a,b in combinations(candidate_homes, 2):
            com_features = find_com_features_train(train_df, a, b, f_all)
            

            if len(com_features):
                # Consider a,b
                is_common, d = find_distance_train_test_dot(train_normalised_df, a, b, test_normalised_df, test_home, com_features, f_all)
                if is_common:

                    # Common between train and test. Can add this pair to inequalities
                    ineq=d['order']
                    lt = ineq[0]
                    gt = ineq[1]
                    co[lt]-= 1
                    co[gt]+= 1
                    #num_features_all[appliance][month_compute][test_home][d['num_f']]+= 1

        """
        # Saving ineqs
        pickle.dump(ineqs, open('../data/model/inequalities/%s_%s_%s_%s_%d_%d.pkl' %(train_region,
                                                                        test_region,
                                                                        transform,
                                                                        appliance,
                                                                        month_compute,
                                                                        test_home),'w'))
        """
        co_ser = pd.Series(co)
        co_ser.sort()
        ranks = co_ser.index.values.tolist()
        if "percentage" in transform:
            mean_proportion = (train_df.ix[ranks[:K]]['%s_%d' %(appliance, month_compute)]/ train_df.ix[ranks[:K]]['aggregate_%d' %(month_compute)]).mean()

            pred = test_df.ix[test_home]['aggregate_%d' %month_compute]*mean_proportion

        else:
            pred = train_df.ix[ranks[:K]]['%s_%d' %(appliance, month_compute)].dropna().mean()
        gt = test_df.ix[test_home]['%s_%d' %(appliance, month_compute)]
        
        #pickle.dump(pred, open(store_path,'w'))
        preds[month_compute]=pred
        gts[month_compute] = gt

    else:
        # No need to predict
        pass

../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_1_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_2_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_3_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_4_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_5_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_6_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_7_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_8_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_9_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_10_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_11_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_12_5938_3.pkl

/Users/nipunbatra/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:66: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting

In [201]:
pred_gt_df = pd.DataFrame({'pred':preds,"gt":gts})
error = (pred_gt_df['pred']-pred_gt_df['gt']).abs().div(pred_gt_df['gt'])
error = error*100
acc = 100-error
acc[acc<0]= 0
acc.ix[5:10].mean()

42.21648935239287

In [202]:
pred_gt_df

            gt        pred
1     0.016150   24.530744
2     0.023167   29.559608
3     0.020900   61.015241
4     0.021433   35.091023
5     0.021450   27.772422
6     0.021017   61.284750
7    52.150852   78.587438
8   120.904800   94.008903
9   204.430679  105.302012
10   50.629719   63.425320
11    0.024133    1.807120
12    0.025667    1.650009

In [203]:
train_df.ix[ranks[:K]]

,hvac_1,hvac_2,hvac_3,hvac_4,hvac_5,hvac_6,hvac_7,hvac_8,hvac_9,hvac_10,...,md_available,full_agg_available,ratio_min_max,difference_ratio_min_max,variance,skew,kurtosis,p_25,p_50,p_75
94,0.000000,0.000099,0.000091,3.650819,6.204708,31.297296,68.286877,99.212429,78.964664,40.053538,...,1,1,0.383497,0.383497,11482.221828,0.894630,0.234951,294.383591,347.958496,388.923569
160,0.000099,0.000222,0.000045,3.276201,17.883578,120.029017,205.059758,288.667527,300.507095,128.225382,...,0,1,0.264077,0.264077,36483.275792,0.244571,-1.309636,273.358307,425.754730,558.868637
101,0.035663,0.338140,13.533932,63.568737,60.043989,153.080112,250.527483,310.467082,297.662111,230.978650,...,1,1,0.303611,0.303611,47735.228222,0.529240,-1.204214,325.532219,476.204910,700.718491

In [204]:
preds = {}
gts = {}
for month_compute in range(1, 13):

    from collections import Counter, defaultdict
    num_features_all = {}
    ineq_dict = {}

    num_features_all[appliance] = {}
    ineq_dict[appliance] = {}

    #num_features_all[appliance][month_compute] = {}
    ineq_dict[appliance][month_compute] = {}

    candidate_homes = train_normalised_df['%s_%d' %(appliance, month_compute)].dropna().index.values[:30]



    #num_features_all[appliance][month_compute][test_home] = defaultdict(int)
    from collections import defaultdict
    import pandas as pd
    co = defaultdict(int)
    store_path = '../../../output/output/ineq_cross/%s_%s_%s_%s_%d_%d_%d.pkl' %(train_region,
                                                                        test_region,
                                                                        transform,
                                                                        appliance,
                                                                        month_compute,
                                                                        test_home, K)
    print store_path
    if os.path.exists(store_path):
        print "already exists"
        


    if not np.isnan(test_normalised_df.ix[test_home]['%s_%d' %(appliance, month_compute)]):
        # We need to predict this value!
        # Find candidate set, train homes which have not null for this month
        # Now find features on pairs of homes in candidate homes
        for a,b in combinations(candidate_homes, 2):
            com_features = find_com_features_train(train_df, a, b, f_all)

            if len(com_features):
                # Consider a,b
                is_common, d = find_distance_train_test(train_normalised_df, a, b, test_normalised_df, test_home, com_features, f_all)
                if is_common:

                    # Common between train and test. Can add this pair to inequalities
                    ineq=d['order']
                    lt = ineq[0]
                    gt = ineq[1]
                    co[lt]-= 1
                    co[gt]+= 1
                    #num_features_all[appliance][month_compute][test_home][d['num_f']]+= 1

        """
        # Saving ineqs
        pickle.dump(ineqs, open('../data/model/inequalities/%s_%s_%s_%s_%d_%d.pkl' %(train_region,
                                                                        test_region,
                                                                        transform,
                                                                        appliance,
                                                                        month_compute,
                                                                        test_home),'w'))
        """
        co_ser = pd.Series(co)
        co_ser.sort()
        ranks = co_ser.index.values.tolist()
        if "percentage" in transform:
            mean_proportion = (train_df.ix[ranks[:K]]['%s_%d' %(appliance, month_compute)]/ train_df.ix[ranks[:K]]['aggregate_%d' %(month_compute)]).mean()

            pred = test_df.ix[test_home]['aggregate_%d' %month_compute]*mean_proportion

        else:
            pred = train_df.ix[ranks[:K]]['%s_%d' %(appliance, month_compute)].dropna().mean()
        gt = test_df.ix[test_home]['%s_%d' %(appliance, month_compute)]
        preds[month_compute]=pred
        gts[month_compute] = gt


    else:
        # No need to predict
        pass

../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_1_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_2_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_3_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_4_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_5_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_6_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_7_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_8_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_9_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_10_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_11_5938_3.pkl
../../../output/output/ineq_cross/Austin_SanDiego_DD_hvac_12_5938_3.pkl

/Users/nipunbatra/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:65: FutureWarning: sort is deprecated, use sort_values(inplace=True) for for INPLACE sorting

In [205]:
pred_gt_df = pd.DataFrame({'pred':preds,"gt":gts})
error = (pred_gt_df['pred']-pred_gt_df['gt']).abs().div(pred_gt_df['gt'])
error = error*100
acc = 100-error
acc[acc<0]= 0
acc
acc.ix[5:10].mean()

36.97621331345112

In [191]:
pred_gt_df

            gt        pred
1     0.000000    2.247812
2     0.000000    2.620437
3    22.754534   17.103252
4     0.971283   52.333696
5     3.498750   54.323677
6   180.404144  163.182191
7   392.775696  353.390685
8   537.882385  468.226187
9   342.975098  417.291159
10  131.348648  258.197011
11    0.000000   14.805368
12    0.000000    5.518928

In [162]:
train_df.ix[ranks[:K]]

,hvac_1,hvac_2,hvac_3,hvac_4,hvac_5,hvac_6,hvac_7,hvac_8,hvac_9,hvac_10,...,md_available,full_agg_available,ratio_min_max,difference_ratio_min_max,variance,skew,kurtosis,p_25,p_50,p_75
781,0.227985,2.661724,33.975815,109.211413,95.898007,236.582860,332.564956,498.708526,456.471371,362.444898,...,0,1,0.331930,0.331930,87381.897888,0.618144,-0.966644,538.501038,707.339874,1045.020660
624,60.013319,37.594527,101.620227,0.000094,22.751338,89.836481,166.750600,249.301381,203.469019,26.507666,...,1,1,0.416310,0.416310,26668.198555,0.517960,-1.135187,454.631447,513.213882,693.046631
77,185.334888,178.997564,347.181591,139.976891,99.224158,279.011967,416.630039,546.533608,494.094518,348.255390,...,0,1,0.477851,0.477851,74286.882561,0.135571,-1.122693,960.258499,1196.487000,1390.395142

In [141]:
test_df.ix[test_home]

hvac_1                          0.002000
hvac_2                          0.002700
hvac_3                         29.053850
hvac_4                         19.651184
hvac_5                         15.861900
hvac_6                         68.252647
hvac_7                        145.872055
hvac_8                        173.272644
hvac_9                        203.351685
hvac_10                        72.101601
hvac_11                         0.619017
hvac_12                         2.839517
wm_1                                 NaN
wm_2                                 NaN
wm_3                                 NaN
wm_4                                 NaN
wm_5                                 NaN
wm_6                                 NaN
wm_7                                 NaN
wm_8                                 NaN
wm_9                                 NaN
wm_10                                NaN
wm_11                                NaN
wm_12                                NaN
fridge_1                       27.911800
fridge_2                       25.371567
fridge_3                       34.385502
fridge_4                       39.418434
fridge_5                       31.985600
fridge_6                       35.656265
                                ...
dw_8                            0.000500
dw_9                            0.526283
dw_10                           0.000800
dw_11                           0.001083
dw_12                           0.002117
dr_1                                 NaN
dr_2                                 NaN
dr_3                                 NaN
dr_4                                 NaN
dr_5                                 NaN
dr_6                                 NaN
dr_7                                 NaN
dr_8                                 NaN
dr_9                                 NaN
dr_10                                NaN
dr_11                                NaN
dr_12                                NaN
house_num_rooms                      NaN
area                                 NaN
num_occupants                        NaN
md_available                    0.000000
full_agg_available              1.000000
ratio_min_max                   0.352858
difference_ratio_min_max        0.352858
variance                    11444.769891
skew                            0.990983
kurtosis                       -0.052504
p_25                          241.198689
p_50                          268.654037
p_75                          351.088257
Name: 203, dtype: float64

In [118]:
is_common, d = find_distance_train_test_dot(train_normalised_df, a, b, test_normalised_df, test_home, com_features, f_all)

In [119]:
d

{'dist_a': 0.0059220825948114141,
 'dist_b': 0.0036127385696059933,
 'f': array(['aggregate_1', 'aggregate_10', 'aggregate_11', 'aggregate_12',
        'aggregate_2', 'aggregate_3', 'aggregate_4', 'aggregate_5',
        'aggregate_6', 'aggregate_7', 'aggregate_8', 'aggregate_9',
        'difference_ratio_min_max', 'kurtosis', 'p_25', 'p_50', 'p_75',
        'ratio_min_max', 'skew'], dtype=object),
 'num_f': 19,
 'order': [160, 115]}

In [120]:
is_common, d = find_distance_train_test(train_normalised_df, a, b, test_normalised_df, test_home, com_features, f_all)

In [121]:
d

{'dist_a': 0.16441051522414468,
 'dist_b': 0.29400373367791882,
 'f': array(['aggregate_1', 'aggregate_10', 'aggregate_11', 'aggregate_12',
        'aggregate_2', 'aggregate_3', 'aggregate_4', 'aggregate_5',
        'aggregate_6', 'aggregate_7', 'aggregate_8', 'aggregate_9',
        'difference_ratio_min_max', 'kurtosis', 'p_25', 'p_50', 'p_75',
        'ratio_min_max', 'skew'], dtype=object),
 'num_f': 19,
 'order': [115, 160]}

In [136]:
train_df.ix[ranks[:K]]

,hvac_1,hvac_2,hvac_3,hvac_4,hvac_5,hvac_6,hvac_7,hvac_8,hvac_9,hvac_10,...,md_available,full_agg_available,ratio_min_max,difference_ratio_min_max,variance,skew,kurtosis,p_25,p_50,p_75
94,0.000000,0.000099,0.000091,3.650819,6.204708,31.297296,68.286877,99.212429,78.964664,40.053538,...,1,1,0.383497,0.383497,11482.221828,0.894630,0.234951,294.383591,347.958496,388.923569
115,0.000000,0.000491,3.299546,25.147722,25.659188,83.801032,150.657918,179.216002,158.120355,44.306730,...,0,1,0.356844,0.356844,13482.923919,0.396173,-1.150852,243.321659,297.264175,413.592415
101,0.035663,0.338140,13.533932,63.568737,60.043989,153.080112,250.527483,310.467082,297.662111,230.978650,...,1,1,0.303611,0.303611,47735.228222,0.529240,-1.204214,325.532219,476.204910,700.718491

In [142]:
test_df

,hvac_1,hvac_2,hvac_3,hvac_4,hvac_5,hvac_6,hvac_7,hvac_8,hvac_9,hvac_10,...,md_available,full_agg_available,ratio_min_max,difference_ratio_min_max,variance,skew,kurtosis,p_25,p_50,p_75
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,0.002000,0.002700,29.053850,19.651184,15.861900,68.252647,145.872055,173.272644,203.351685,72.101601,...,0,1,0.352858,0.352858,11444.769891,0.990983,-0.052504,241.198689,268.654037,351.088257
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,1.563983,49.754932,224.037476,105.825180,54.593281,266.363251,365.305908,497.618652,548.815247,326.567413,...,0,1,0.414237,0.414237,56334.856003,0.276487,-1.620418,601.410309,726.297211,979.907196
1524,0.025400,0.027333,16.035267,4.751067,14.896517,185.289536,218.260483,325.225800,331.544067,159.814423,...,0,1,0.323581,0.323581,29697.892286,0.737280,-0.923025,257.036800,330.575531,507.019714
1731,0.197017,0.000000,21.463934,12.613634,7.330667,40.226986,221.842163,286.762146,295.495148,175.822769,...,1,1,0.360746,0.360746,39154.448822,0.087290,-2.083153,329.804420,490.044968,692.856308
2031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2354,0.000517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2606,4.041283,48.951168,114.115364,32.597801,30.465033,118.778206,213.009796,302.353729,358.428986,233.708633,...,1,1,0.440386,0.440386,29220.154500,0.648063,-0.327643,536.360283,607.543243,779.882858
3687,0.000000,0.000000,29.437967,0.000000,0.000000,69.320015,183.210800,273.997559,13.414872,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3864,0.017150,0.020400,40.932602,8.901500,14.734150,17.263117,101.148369,193.589783,318.287964,55.308468,...,0,1,0.063724,0.063724,22039.615570,1.347794,2.552081,181.659874,222.681030,289.520897
3938,0.004050,0.003250,0.002283,0.002750,0.003533,4.694933,36.938816,64.682098,67.889999,42.861000,...,0,1,0.555696,0.555696,1655.007347,0.162022,-1.587008,163.901379,198.883507,233.278088
4083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4495,0.029083,0.020650,0.011833,0.014550,0.014050,0.016583,0.006450,2.942883,20.143316,17.803518,...,0,1,0.580463,0.580463,1069.470137,0.026752,-1.406992,152.239399,171.471230,201.696285
4761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4934,0.000000,0.333117,21.772633,1.527483,0.628750,14.843934,42.818264,120.329216,197.919586,78.748322,...,0,1,0.321174,0.321174,8806.534422,1.328589,0.911613,170.106564,188.338760,271.368927
5009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5938,0.016150,0.023167,0.020900,0.021433,0.021450,0.021017,52.150852,120.904800,204.430679,50.629719,...,1,1,0.375629,0.375629,7650.126084,1.980872,3.710917,174.198235,185.207413,236.496479
6268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6377,0.002550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6547,0.000000,0.000000,2.500650,0.000000,1.897250,4.332233,82.789749,106.144485,167.758347,5.644950,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7062,29.184666,27.326151,27.205383,22.112499,22.287901,21.112600,29.122433,21.128384,15.422884,4.516933,...,1,1,0.009267,0.009267,69218.969830,-0.078278,0.253545,399.505844,432.195450,513.695442
7114,0.000000,0.000000,57.659714,9.683733,15.196300,52.486732,166.456161,310.736237,292.542480,111.185982,...,0,1,0.351464,0.351464,21660.354349,1.275253,0.319833,253.766426,291.850586,399.366409
7409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8061,0.000000,0.000000,22.754534,0.971283,3.498750,180.404144,392.775696,537.882385,342.975098,131.348648,...,1,1,0.249087,0.249087,93571.358317,1.210269,0.482197,333.490562,402.647507,713.679108
8342,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.197984,21.996500,10.533083,0.000000,...,1,1,0.510988,0.510988,888.054279,2.402325,7.170091,146.753063,149.083908,163.073223
8574,0.027567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8733,10.197150,52.655632,118.634781,37.683601,12.180450,96.330414,374.698486,118.302780,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9213,0.000000,0.000000,18.233232,21.324200,10.624750,8.708716,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9585,1.504150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9612,0.003817,22.723499,92.728798,58.714565,37.582500,0.806383,NaN,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9775,0.002683,0.003133,14.897066,0.002700,0.003917,0.001783,0.001750,136.312683,325.122070,141.643585,...,1,1,0.491530,0.491530,12448.916274,2.103681,4.920722,385.700150,415.538055,503.869888
9836,0.005383,0.011783,28.378317,1.476150,0.616567,5.609450,7.381700,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN